<div id="copyright">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="https://gmail.us20.list-manage.com/subscribe?u=6a66d02ade44de274dbdba127&id=204861b9b3" target="_blank">Sign up to our mailing list</a></li>
        <li>Published with <a href="https://ghost.org">Ghost</a></li>
    </ul>
</div>