<div id="copyright">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="#">Sign up to our mailing list</a></li>
        <li>Published with <a href="https://ghost.org">Ghost</a></li>
    </ul>
</div>