<div id="homecontent">
<h2 style="text-align:center">Heading</h2><br />
<table id="sptable" style="width:90%; border=0px; padding=0px">
<tr>
	<td style="width:50%; text-align:center">sponsor 1</td>
	<td style="width:50%; text-align:center">sponsor 2</td>
</tr>
<tr>
	<td style="width:50%; text-align:center"><center><img src="https://harpfestnz.nz/images/HarpFest-03.png" height="100px" width="100px" style="text-align:center; display:block;"></center></td>
	<td style="width:50%; text-align:center">sponsor 2</td>
</tr>
</table>
<p> test 4 </p>
</div>